<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.phoenix.mapper.OrderMapper">

    <select id="getOrders" resultType="com.example.demo.phoenix.entity.Order">
        SELECT id,order_code AS orderCode,user_id as userId,create_time as createTime FROM tbl_order
        WHERE id >= 1
        ORDER BY create_time DESC
        LIMIT 2 OFFSET 1
    </select>

    <update id="updateOrder">
        UPSERT INTO tbl_order(id, total_amount) VALUES(#{id}, #{totalAmount})
    </update>

</mapper>
